# Ignore tiktok data folder and all its contents
/tiktok_data/thumbnails/
tiktok_data/thumbnails/
**/tiktok_data/thumbnails/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
ENV/
.env
.venv
env/

# OS specific files
.DS_Store
Thumbs.db 

lambda_layer/*
lambda_package/*
lambda_package_minimal/*
lambda_deployment_simple.zip
lambda_deployment_optimized.zip
lambda_layer/
lambda_package/
lambda_package_minimal/
lambda_deployment.zip
lambda_deployment_simple.zip
lambda_deployment_optimized.zip
